.menu {
    background-color: blue;
    overflow: hidden;
  }
  
  .menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "BN machine";
  }

  #settings {
      display: none;
  }

  output{
    font-family: "BN machine"; 
  }
  
  .menu a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .menu a.active {
    background-color: yellow;
    color: rgb(0, 0, 0);
  }


  input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 200px;
    height: 7px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(216, 222, 199));
    background-size: 70% 100%;
  }

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: blue;
    cursor: ew-resize;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  #canvas {
    background-color: rgb(18, 15, 15);
    display: block;
    position: absolute;
    top: 0;
    margin: 0%;
    left: 0;
    right: 0;   
    bottom: 0;
    width: 87%;
    height: 93%;
  }

  #score{
    position: absolute ;  
    width: 100px;
    left:87%;
    font-family: "BN machine";
  }

  #newGameButton{
    position: absolute ;  
    width: 100px;
    left:87%;
    top: 80%;
    background-color: yellow;
    color: black;
    font-family: "BN machine";
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 11%;
    border-radius: 8px;
  
  }

  #newGameButton:hover{
    transform: scale(1.1);
  }


  #lives{
    position: absolute ;  
    width: 100px;
    left:87%;
    top: 17%;
    font-family: "BN machine";
  }

  .dot {
    top: 45%;
    width: 100px;
    position: absolute ;  
    height: 18px;
    width: 18px;
    border-radius: 50%;
  }
  #dot1 {
    left:5%;
  }
  #dot2 {
    left:35%;
  }
  #dot3 {
    left:65%;
  }
  .keysettings{
    left: 65%;
    width: 100px;
    position: absolute ;
    height: 18px;
    width: 18px;
    background-color: yellow;
    border-radius: 15%;
    box-shadow: 0 9px #999; 
  }
  #left1 {
    left:5%;
    top: 120%;
  }
  #down1 {
    left:25%;
    top: 120%;
  }
  #right1 {
    left:45%;
    top: 120%;
  }
  #up1 {
    left:25%;
    top: 104%;
  }

  #chosenSettings{
    position: absolute ;  
    width: 100px;
    left:87%;
    top: 42%;
  }

  #time{
    position: absolute ;  
    width: 100px;
    left:87%;
    top: 32%;
    font-family: "BN machine";
  }

  .keyboard {
    display: inline-block;
    padding: 8px 10px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: yellow;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .keyboard:hover {background-color: rgb(223, 223, 22)}
  
  .keyboard:active {
    background-color: #8e8b3e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #up{
      margin-left: 40px;
  }

  #background {
    position: relative;
    height: 100%;
    width: 100%;
  }

  /* Style the button and place it in the middle of the container/image */
  #login {
    position: absolute;
    height: 15%;
    top: 60%;
    left: 55%;
    cursor: pointer;
  }

  #login:hover{
    display: none;
  }

  #registerHover{
    position: absolute;
    height: 15%;
    top: 60%;
    left:30%;
    cursor: pointer;  
  }
  

  #register {
    position: absolute;
    height: 15%;
    top: 60%;
    left: 30%;
    cursor: pointer;
  }

  #register:hover{
    display: none;
  }

  #loginHover{
    position: absolute;
    height: 15%;
    top: 60%;
    left:55%;
    cursor: pointer;  
  }

  #logoBlink{
    position: absolute;
    height: 35%;
    top: 15%;
    left:15%;
    cursor: pointer;  
  }


  #logo{
    position: absolute;
    height: 35%;
    top: 15%;
    left:15%;
    cursor: pointer;  
  }


  #logo:hover{
    display: none;
  }

  /* .screen class applies to all screens */
.screen {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    height: calc(100vh - 4.5em); /* height of viewport minus height of #navigation menu */
    padding: 20px 10px;
    overflow: auto;
    border: 1px solid #888888;
    overflow: hidden;
    /* can add other CSS for all screens, such as background-color, etc. */ 
  }

/* show welcome screen when app first starts */
#welcomeScreen {
	display: block;
    background-color: black;
    height: 85%;
}

/* hide other screens when app first starts */
#registerScreen, #loginScreen, #settingsScreen, #game{
	display: none;
}



#loginScreen, #registerScreen, #settingsScreen{
  background-color: black;
}


#registerScreen, #settingsScreen, #loginScreen{
  color: white;
  background-color:black;
  align-items: center;
}

/* Full-width inputs */
input[type=text1], input[type=password], #userNameText {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}



/* Center the avatar image inside this container */
.imgcontainer {
  margin: 24px 0 12px 0;
  position: absolute;
  top: 5%;
  left: 35%;
}


#imgcontainer2{
  margin: 24px 0 12px 0;
  position: absolute;
  left:50%;
}
img.avatar2 {
  width: 60%;
  position: absolute;
  left:17%;
  top:0%;
}
/* Avatar image */
img.avatar {
  width: 100%;
  border-radius: 50%;
}


/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */

.ballOptions{
    font: 1rem 'Fira Sans', sans-serif;
}

label1 {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}


input1,
label1 {
  margin: .4rem 0;
}

label2 {
  position: relative;
  display: block;
  font: 1rem 'Fira Sans', sans-serif;

}
#start{ 
width:14.7%;
text-align: left;
}
#regButton, #loginButton, #ready, #randomChoose{ 
  width:15%;
  font-family: "BN machine";
  background-color: blue;
  border-radius: 8px;
  font-size: larger;
  border: 2px;
  color: white;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
}
#regButton:hover, #loginButton:hover, #ready:hover,#randomChoose:hover{
    transform: scale(1.1);
  }



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

/* Modal Content/Box */
.modal-content1 {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Modal (background) */
.modal1 {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 4px;

  }

  .close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  } 
  
  .close1:hover,
  .close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  } 
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#invalid_email{
    color: red;
    font-family: "BN machine";

}


.container1 {
  position: relative;
  text-align: center;
  color: white;
  left: 0;
  top: 0;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 30%;
  border-radius: 4px;

}

.modal-content2 {
  width: 50%; /* Could be more or less, depending on screen size */
  position: absolute;
  left:20%;
  top:15%;

  border-radius: 4px;

}

.close1 {
  color:white;
  background-color: black;
  font-size: 30px;
  font-weight: bold;
}  

/* Centered text */
.centered {
  position: absolute;
  top: 70%;
  left: 47%;
  color: white;
  font-family: "BN machine";
  font-size: 20px;


}
#winnerButton{
  left:18%;
  top:72%;
}


#winnerText{
  top: 60%;
  left: 17%;
}



.close2 {
  color: white;
  font-size: 28px;
  font-weight: bold;
  
}  

.EndGamePic{
  width: 100%;
  position: relative;
  border-radius: 18px;

}



.close2:hover,
.close2:focus {

  background-color: rgb(241, 239, 243);
  text-decoration: none;
  cursor: pointer;
}


.close1:hover,
.close1:focus {

  background-color: rgb(241, 239, 243);
  text-decoration: none;
  cursor: pointer;
}


.again{
  position:absolute;
  left:63%;
  top:76%;
  border-radius: 8px;
  font-family: "BN machine";
  background-color: yellow;
  font-size: larger;
  border: 2px;
  color: black;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
}
 .again:hover{
   transform: scale(1.1);
 }

 #better{
   left:66%;
   top:50%;
   text-align: left;
 }

 footer {
    height: 12%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: "BN machine";
  }

  #mail{
    position: absolute;
    width: 20%;
    left: 7%;
    border: 3px solid #0202f1;
    border-radius: 15px;
  }

  #headerlogo{
      width: 7%;
  }

  header{
    font-family: "BN machine";
    text-align: center;
  }

  h1{
      font-family: "BN machine";
      letter-spacing: 2px;
      font-weight: lighter;
  }