.menu {
    background-color: #333;
    overflow: hidden;
  }
  
  .menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .menu a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .menu a.active {
    background-color: yellow;
    color: white;
  }

  #game{
    background-color: rgb(26, 23, 26);
  }

  .modal {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    position: relative; 
    background-color: rgb(199, 162, 218);
    border-radius: 25px;
    border: 6px solid rgb(240, 235, 243);
    padding: 20px; 
    margin: auto; 
    width: 75%;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .close-btn {
    float: right; 
    color: rgb(255, 255, 255); 
    font-size: 30px;  
    font-weight: bold;
  }
  .close-btn:hover {
    color: rgba(209, 0, 220, 0.16);
  }
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 200px;
    height: 7px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(213, 203, 218), rgb(199, 162, 218));
    background-size: 70% 100%;
  }

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #873a8d;
    cursor: ew-resize;
  }
